form {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 50px;
}

button:active {
  background-color: black;
  color: blue;
}

a:visited {
  color: red;
}

input {
  color: black;
}

input:disabled {
  color: coral;
  background-color: red;
}

input:focus {
  background-color: black;
}

span {
  margin-top: 20px;
  display: block;
  width: 30px;
  height: 30px;
  background-color: rosybrown;
}

span:hover {
  background-color: black;
}
